* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: 
    "sidebar header" 150px
    "sidebar main-content" 1fr / 1fr 4fr;
    min-height: 100vh;
}

.header {
    padding: 1rem;
    grid-area: header;
    display: grid;
    grid-template: 
    "searchbar notification" 1fr
    "profil-info buttons" 1fr / 2fr 1fr;
    background-color: cadetblue;
}

.searchbar {
    grid-area: searchbar;
}

.profile-notification {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.profile-info {
    grid-area: profil-info;
    display: grid;
    grid-template: 
    "profile-img greeting" 1fr
    "profile-img username" 1fr / 1fr 2fr;
}

.profile-img {
    grid-area: profile-img;
}

.greeting {
    grid-area: greeting;
}

.username {
    grid-area: username;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-content: center;
}

.sidebar {
    padding: 1.5rem;
    grid-area: sidebar;
    display: grid;
    grid-auto-rows: max-content;
    gap: 1.5rem;
    background-color: cornflowerblue;
}

.logo,
.nav li,
.menu li {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem;
}

.nav li,
.menu li {
    list-style: none;
    margin-top: 1rem;
}

.main-content {
    padding: 1.5rem 1rem;
    grid-area: main-content;
    display: grid;
    grid-template: 
    "projects announcements" 1fr
    "projects trending" 1fr / 2fr 1fr;
    background-color: darkslateblue;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}