* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: 
    "sidebar header" 120px
    "sidebar main-content" 1fr / 1fr 4fr;
    min-height: 100vh;
}

.header {
    padding: 1rem 2.5rem;
    grid-area: header;
    display: grid;
    grid-template: "searchbar notification" 1fr
        "profil-info buttons" 1fr / 2fr 1fr;
    column-gap: 1rem;
    background-color: #ffffff;
}

.searchbar {
    grid-area: searchbar;
    display: grid;
    grid-template: max-content / max-content 1fr;
    column-gap: .5rem;
    align-items: center;
}

.searchbar svg {
    width: 1rem;
}

input[type="search"] {
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 15px;
    background-color: #e2e8f0;
    border-style: none;
}

.profile-notification {
    display: grid;
    grid-template: max-content / repeat(2, max-content) 1fr;
    gap: 1rem;
    align-items: center;
    justify-self: end;
    font-size: 14px;
    font-weight: 800;
}

.profile-notification svg {
    width: 16px;
    height: 16px;
}

.profile-notification-img {
    width: 24px;
    border-radius: 50%;
}

.profile-info {
    grid-area: profil-info;
    display: grid;
    grid-template: "profile-img greeting" 1fr
        "profile-img username" 1fr / max-content 1fr;
    column-gap: 1rem;
    align-items: center;
    font-weight: 800;
}

.profile-img {
    grid-area: profile-img;
    width: 3rem;
    height: auto;
    border-radius: 50%;
}

.greeting {
    grid-area: greeting;
    font-size: 12px;
    align-self: end;
}

.username {
    grid-area: username;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-content: center;
}

button {
    background-color: #1992d4;
    color: #ffffff;
    border-radius: 15px;
    padding: 4px 16px;
    border-style: none;
    font-size: 14px;
}

.sidebar {
    padding: 12px;
    grid-area: sidebar;
    display: grid;
    grid-auto-rows: max-content;
    gap: 24px;
    background-color: #1992d4;
    color: #ffffff;
}

.logo {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 12px;
    align-items: center;
}

h2.logo-text {
    font-size: 24px;
}

.sidebar .logo-svg {
    width: 32px;
    fill: #ffffff;
}

.nav li,
.menu li {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 1rem;
}

.nav li,
.menu li {
    list-style: none;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 800;
}

.nav li a,
.menu li a {
    text-decoration: none;
    color: #ffffff;
}

.sidebar svg {
    width: 1.2rem;
    fill: #ffffff;
}

.main-content {
    padding: 1.5rem 1rem;
    grid-area: main-content;
    display: grid;
    grid-template: 
    "projects announcements" 1fr
    "projects trending" 1fr / 2fr 1fr;
    background-color: #e2e8f0;
}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: max-content 1fr;
    row-gap: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    gap: 1rem;
}

.card {
    padding: 1rem;
    display: grid;
    background-color: white;
}

.card svg {
    width: 1rem;
    height: 1rem;
}

.card-icon-container {
    place-self: center end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.announcements {
    grid-area: announcements;
    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;
}

.announcement-content-container {
    padding: 1rem;
    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;
    background-color: #ffffff;
}

.trending {
    grid-area: trending;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 1rem;
}

.trending-content-container {
    padding: 1rem;
    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;
    background-color: #ffffff;
}

.trending-content {
    display: grid;
    grid-template: 
    "profile-img username" 1fr
    "profile-img description" 1fr / 1fr 2fr;
}

.trending-img {
    grid-area: profile-img;
}

.trending-username {
    grid-area: username;
}

.trending-description {
    grid-area: description;
}

.trending-img {
    width: 2rem;
    border: 1px solid black;
    border-radius: 50%;
}